/* header/navbar section design  */

.navbar{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    align-items: center;
    background-color: #412567;
}
.logo{
    color: white;
}
.logo span{
    color: linear-gradient(to bottom, #F7E93F, #FB09B4, #9100F8);
}
.menu{
    display: flex;
    gap: 32px;
    list-style: none;
}

.menu li a{
      text-decoration: none;
      color: white;
}